#header, .headertext {
    margin: 0 auto;
}

#header ul {
    list-style: none;
}

#header li {
    float: left;
}

center > table tr:nth-child(1) > td:nth-child(2) img {
    width: 735px;
    height: 500px;
}
