center > table tr:nth-child(1) > td:nth-child(2) {
  width: 750px;
  height: 508px; }

center > table tr > td:nth-child(2) > img {
  background-repeat: no-repeat;
  transition: all 0ms ease;
  width: auto; }

.clutch a, .clutch a:hover {
  display: block;
  text-decoration: none;
  background: transparent;
  color: #00689d; }

.clutch a:hover {
  text-decoration: underline; }

.clutch ul {
  margin: 0 auto;
  max-width: 700px; }
  .clutch ul li {
    padding-bottom: .25em; }
  .clutch ul div, .clutch ul a {
    margin-left: 2em;
    color: #000;
    font-size: 1em;
    font-weight: normal; }

.clutch > a {
  font-size: .75em;
  text-align: center;
  font-style: italic; }

#blogpost {
  transition: background 1s ease-out; }

#blogpost.angola {
  background: #ffc; }
